.test{
    /* cursor: pointer; */
    cursor: wait;
}

.parent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 60%;
    align-items: center;
    flex-wrap: wrap;
}

.child1{
    padding: 50px;
    background: green;
    color: white;
    font-size:25px;
    font-weight: bold;
    order: 3;
    
}

.child2{
    background: red;
    color: white;
    font-size:25px;
    font-weight: bold;
    padding: 50px;
    order: 2;
    flex-grow: 4;
   
}

.child3 {
    background: blue;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 50px;
    order:1;

}